
<!doctype html>
<html lang="ko">
<head>
    <%- include('./includes/header.ejs') %>
    <title>INDEX</title>
</head>


<body>

<hr>
<% if (session) { %>
    <h2 class='is-2'>안녕하세요.
    <strong>
        <%= session %>
    </strong>
      님,  환영합니다.</h2>
    <%- include('./includes/logout.ejs') %>
<% } else { %>
    <%- include('./includes/main_buttons.ejs') %>
<% } %>
<br><br>


<script>
    const logout = document.querySelector('#logout');
    logout?.addEventListener('click', async function() {
        const res = await axios.get('/logout');
        document.location.href='/'
    });
</script>
</body>
</html>
