* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: black;
}
// my card
// .card {
//   // width: 240px;
//   // background-color: black;
//   margin: 8px;
// }
// .card_img-holder {
//   // max-width: 240px;
// }
// img {
//   // max-width: 240px;
//   object-fit: cover;
// }
// .card_body {
//   height: 24px;
//   color: #fff;
// }
// h2 {
//   font-size: 18px;
//   font-weight: 700;
// }
// .card_body-favorite {
//   display: flex;
// }
// .btn-favorite {
//   margin-right: 8px;
// }

// bootstrap
// .card {
//   background-color: black;
// }

.CocktailItemCard {
  max-width: 240px;

  .CocktailItemImage {
    max-height: 200px !important;
    object-fit: cover;
    // display: flex;
    // justify-content: center;
  }
}
// img {

.favorite-container {
  display: flex;
  align-items: center;
}
.favorite-btn {
  border: none;
  margin-right: 8px;
  background-color: transparent;
}
.favorite-counter {
  font-size: 18px;
}
.card-title {
  text-decoration: underline;
  text-decoration-color: black;
}
.favorite-container {
  display: inline;
}
// .card:hover {
//   transform: rotateY(180deg);
//   transition: ease-in-out 600ms;
// }
@media (max-width: 758px) {
  .CocktailItemCard {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  // .card {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  // }
  .card-body {
    font-size: x-small;
    width: 50px;
  }
  img {
    width: 50%;
  }
}
