.LoginBox {
  //   background-color: #1c1c1e;

  //   display: flex;
  //   align-content: center;
  //   width: 500px;
  //   text-align: center;
  //   mar
}
.Login {
  //   display: flex;
  //   justify-content: center;
  //   background-color: #1c1c1e;
  background-color: rgb(18, 18, 18);
  height: 88vh;
  width: 700px;
  padding: 100px;
  //   padding: 100px;
  margin: auto;
  text-align: center;
}
