// * {
//   background-color: white;
// }

.LikeList {
  background-color: whitesmoke;
  height: 100%;
  width: 100vh;
  padding: 0 10%;
  margin: 0 20%;
  border-radius: 6px;
  box-sizing: border-box;
  color: black;

  h3 {
    margin: 0 3%;
    padding: 5% 0;
  }
  .container {
    background-color: whitesmoke;
    color: black;
  }
}

.Recommendation {
  background-color: whitesmoke;
  height: 100%;
  width: 100vh;
  padding: 0 10%;
  margin: 0 20%;
  border-radius: 6px;
  box-sizing: border-box;
  color: black;
  // color: black;
  h3 {
    margin: 0 3%;
    padding: 5% 0;
  }
  .Recommendation2 {
    margin: 15px 0;
  }
}

.InformationModify {
  background-color: whitesmoke;
  // height: 800px;
  height: 100%;
  // width: 800px;
  width: 100vh;

  padding: 10%;
  margin: 0 20%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  // color: "#FCFCFC",
  color: black;
  h3 {
    margin: 0 3%;
    text-align: center;
  }
  .InformationModify2 {
    margin: 15px 0;
  }
}

@media (max-width: 574px) {
  .LikeList {
    background-color: white;
    color: black;
    width: 100%;
    top: 100px;
    left: 0;
    padding: 0;
    margin: 0;
    .mt-3 {
      margin: 10px;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .Recommendation {
    width: 100%;
    position: relative;
    top: 100px;
    left: 0;
    padding: 0;
    margin: 0;
    // background-color: white;
    background-color: white;
    color: black;
    .mt-3 {
      text-align: center;

      width: 120px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .InformationModify {
    display: flex;
    justify-content: left;
    position: relative;
    width: 100%;
    top: 50px;
    // left: 15%;

    padding: 0;
    margin: 0;
    background-color: black;
  }
  .CocktailItemCard {
    color: black;
    font-size: large;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
  }
  .ItemCardcenter {
    .CocktailItemCard {
      img {
        padding: 20px;
      }
      p {
        text-align: left;
      }
    }
  }
}

.ItemCardcenter {
  position: relative;
  // width: 180px;
  left: 7%;
  text-align: left;
  // text-align: center;
}
